.product-card {
  border: 1px solid #ccc;
}

.product-title {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Maksimum satır sayısı */
  -webkit-box-orient: vertical;
  overflow: hidden; /* Taşan metni gizler */
  font-size: 18px;
}

.product-image {
  width: 100%;
  height: 200px;
}

.product-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 24px;
}
